.front-Block {
    background-color: rgba(179, 178, 178, 0.705);
    color: white;
}
.back-Block {
    background-color: rgba(179, 178, 178, 0.705);
    color: white;
}
.mobile-Block {
    background-color: rgba(179, 178, 178, 0.705);
    color: white;
}
.workSpaceBlock {
    background-color: rgba(179, 178, 178, 0.705);
    color: white;
}
