body {
    background-color: rgb(47, 47, 47);
}
.App-link {
    color: #61dafb;
    text-decoration: none;
}
.navBarStyle {
    display: flex;
    justify-content: flex-end;
    background-color: #e2dede44;
}
.footer-Block {
    justify-content: center;
    display: flex;
}
